body{
    background-color: whitesmoke;
    font-family: sans-serif;
}
.contactpage{
    width:450px;
    height: 700px;
    background-color: white;
    padding: 20px;
    margin: 100px auto;
    
}
h1{
    text-align: center;
    margin-bottom: 23px;
}
form{
    position: static;
    margin-bottom: 50px;
    
}
label{
    display:block;
    margin-bottom: 20px;
}
.contactfields{
    margin-bottom: 25px;
}
input[type=text],input[type=email]{
    width:100%;
    padding: 8px;
    box-sizing: border-box;
    outline: none;
}
button[type=submit]{
    cursor: pointer;
    width:100%;
    padding:10px ;
    border: none;
    outline: none;
    color: white;
    background-color:#3559E0;
    font-weight: bold;
    font-size: 18px;
}
button[type=submit]:hover{
    background-color:#164863;
}